<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>footer</title>
  <link rel="stylesheet" href="/style.css" type="text/css">
<footer>
    <p>&copy; 2024 Your Application</p>
  </footer>
  